@import './header.css';
@import './promo.css';
@import './about.css';
@import './tour.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #1C1C1C;
}

/*  font-family: 'Oranienbaum', serif; */